.idea/
tmp/*
!tmp/.htaccess
logs/*
!logs/.htaccess
vendor/*
!vendor/acimage
!vendor/ckeditor
!vendor/filemanager
!vendor/phpmailer
!vendor/smarty
!vendor/index.html
modules/*
!modules/.htaccess
themes/backend/modules/*
!themes/backend/modules/.htaccess
config/db.php
robots.txt
sitemap*.xml