.shop-sub-nav h2{
    color: #666666;
    font:16px/20px "Roboto-Regular", sans-serif;
}
.shop-sub-nav ul > li{
    display: inline-block;
    padding: 0 5px;
}
.shop-sub-nav ul > li > a{
    color: #f04d4d;
    font:14px/18px "Roboto-Regular", sans-serif;
}
.ui-widget-header{
    background-color: #f04d4d;
    font: 18px/20px "Roboto-Regular", sans-serif;
    color: #fff;
    border:0;
    text-align: center;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    background-color: #f04d4d;
    font: 14px/18px "Roboto-Regular", sans-serif;
    color: #fff;
    border:0;
}
.ui-widget .form-group{
    margin-bottom:10px;
}
.ui-widget .form-group > label {color:#666;display: block;
    margin-bottom:5px;
}
.ui-widget input{

    display: block;
    height: 30px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #bebebe;
    font: 14px/28px "Roboto-Light", sans-serif;
    color: #666666;
}
.ui-widget .form-group .error{
    color: red;
    font-size:12px;
}