.toggle-btn{
  position: absolute;
  width: 20px;
  height: 20px;
  box-shadow: -1px 0 4px 0 #dee6e9;
  top: 22px;
  right: 0;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #88a1a8;
  cursor: pointer;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.show-value{
  position: absolute;
  right: 0;
  top: 19px;
  cursor: pointer;
  color: #636384;
  font-size: 29px;
  //margin: 12px 12px 12px 0;
  margin: 4px 12px 6px 0;
  transition: color 0.35s ease;
  .fa-eye-slash{
    display: none;
  }
  &.visible{
    .fa-eye-slash{
      display: inline-block;
    }
    .fa-eye{
      display: none;
    }
  }
  &:hover{
    color: #fff;
  }
}

button {
  cursor: pointer;
  text-decoration: none !important;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 3px;
  font-family: $bold;
  transition: all 0.35s ease;
  color: #1e3c50;
  background: $btn-default;
  border: 1px solid #a6b2c0;
  &:hover{
    background: #ebeef0;
  }
  &:disabled{
    cursor: not-allowed;
    background: lighten($btn-default, 20%);
  }
}

.btn {
  cursor: pointer;
  text-decoration: none !important;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 3px;
  font-family: $bold;
  transition: all 0.35s ease;
  text-align: center;
  //width: 32px;
  //height: 32px;
  margin: 1px;
  //line-height: 30px;

  color: #495766;
  background: $btn-default;
  border: 1px solid #c2cad8;

  height: 30px;
  line-height: 26px;
  padding: 0 20px;
  font-size: 14px;

  &:hover{
    background: #dbdcdc;
    border-color: #dbdcdc;
  }

  &.btn-lg{
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
    font-size: 20px;
  }
  &.btn-md{
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    font-size: 16px;
  }

  &.btn-link{
    background: none;
    color:#337ab7;
    border: 1px solid #a6b2c0;
  }

  &.btn-primary{
    color: #fff!important;
    border: 1px solid #03a9f4;
    background: $btn-info;
    &:hover{
      background: darken(#03a9f4, 10%);
      border: 1px solid  darken(#03a9f4, 10%);
    }
    &:disabled{
      cursor: not-allowed;
      opacity: .6;
    }
  }
  &.btn-default{
    color: #1e3c50;
    background: $btn-default;
    border: 1px solid #c2cad8;
    &:hover{
      background: #dbdcdc;
      border-color: #dbdcdc;
    }
    &:disabled{
      cursor: not-allowed;
      background: lighten($btn-default, 20%);
    }
  }
  &.btn-success, &.b-form-save{
    color: #fff;
    background: $btn-success;
    border: 1px solid $btn-success;
    &:hover{
      background: darken($btn-success, 10%);
      border: 1px solid darken($btn-success, 10%);
    }
    &:disabled{
      cursor: not-allowed;
      background: lighten(#79d4a7, 20%);
    }
  }
  &.btn-danger{
    color: #fff;
    background: #ff7163;
    border: 1px solid #ff7163;
    &:hover{
      background: darken(#ff7163, 20%);
      border: 1px solid #ff7163;
    }
    &:disabled{
      cursor: not-allowed;
      background: lighten(#ff7163, 20%);
    }
    &.no-border{ border:0; }
  }
  &.btn-primary-transp{
    border: 2px solid #00c8f9;
    color: #1e3c50;

    &:hover{
      background-color: #00c8f9;
      color: #ffffff;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.19);
    }
  }
 /* &.square{
    text-align: center;
        width: 32px;
        height: 32px;
        border-radius: 3px;
        margin: 1px;
        color: #fff !important;
        line-height: 30px;
  }*/
}

.b-change-date{cursor: pointer}
<<<<<<< HEAD
.dataTable td{
=======
.dataTable td,.table{
>>>>>>> 7fa771e0b506f991de2db29d75d140e55dfc7847
  .btn {
    width: 20px;
    height: 20px;
    border: 1px solid #e1e2e2;
    border-radius: 3px;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
    color: #495766;
    background-color: #ffffff;

    &:hover{
      background-color: #e1e2e2;
      box-shadow: 0 2px 5px rgba(19, 46, 69, 0.2);
    }

    + .btn{
      margin-left: 4px;
    }

    &.btn-primary{
      color: #495766!important;
      background-color: #ffffff;

      &:hover{
        color: #ffffff!important;
        background-color: $btn-info;
        border-color: $btn-info;
        box-shadow: 0 2px 5px rgba(19, 46, 69, 0.2);
      }
    }

    &.btn-danger:hover{
      color: #ffffff!important;
      background-color: #ff7163;
      border-color: #ff7163;
      box-shadow: 0 2px 5px rgba(19, 46, 69, 0.2);
    }
  }
  .btn.b-pages-hide:hover{
    background-color: #10c469;
    border-color: #10c469;
    color: #ffffff;
  }
}