.btn {
    line-height: 30px;
    padding: 0 20px;
    font-size: 16px;
}
/* в дереві зліва */
.jstree-node.status-hidden{
    color: #ccc;
}
/*в таблииці списку сторінок чи ін */
.table .status-hidden{
    color: #ccc;
}


/****  themes ****/
.themes{clear:both;
    margin-top:1em;}
.themes .theme.current .panel{
    border:1px solid #aece4e;
}

.themes .theme .screenshot:after {
    content: "";
    display: block;
    padding-top: 66.6667%;
}
.themes .theme .screenshot {
    display: block;
    overflow: hidden;
    position: relative;
    transition: opacity 0.2s ease-in-out 0s;
}
.themes .theme .screenshot img {
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.2s ease-in-out 0s;
    width: 100%;
    height: auto!important;
}
.themes .theme .screenshot .description {
    opacity: 0;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0, 0.7);
    color: #fff;
    font-size: 12px;
}

.themes .theme .screenshot .description > div {
    padding: 0 20px;
}
.themes .theme .screenshot .description > div.author{
    padding-top: 20px;
    font-size: 14px;
}
.themes .theme .screenshot .description > div.version {
    font-size: 14px;
    margin-bottom: 10px;
}
.themes .theme .screenshot .description > div.info {
    white-space: normal;
}
.themes .theme h3.name {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.65);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.themes .theme .actions {
    opacity: 0;
    background: #fff;
    bottom: 40px;
    position: absolute;
    right: 35px;
    transition: opacity 0.1s ease-in-out 0s;
}
.themes .theme:hover .actions,
.themes .theme:focus .actions {
    opacity:1;
}

.themes .theme:focus .screenshot .description,
.themes .theme:hover .screenshot .description{
    opacity: 1;
}



.gallery-uploader .panel-heading {
    position: relative;
    /*z-index: 3;*/
    font-size: 16px;
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05)
}

.gallery-uploader .panel-heading .icon-info-sign {
    top: 1px;
    margin-left: 5px;
    color: #ccc;
    font-size: 14px
}

.gallery-uploader .list-group .dropzone-container {
    background: #f7f7f7;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .1s ease-in-out, padding .1s ease-in-out;
    transition: max-height .1s ease-in-out, padding .1s ease-in-out
}

.gallery-uploader .list-group .preview-container {
    padding: 15px 8px 20px;
    -webkit-box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.05)
}

.gallery-uploader .dropzone {
    border: 0;
    background: 0;
    padding: 0 0 5px;
    color: #ccc;
    text-align: center
}

.gallery-uploader .dropzone .icon-picture {
    display: block;
    margin: 15px auto 8px;
    font-size: 40px
}

.gallery-uploader .dropzone .icon-download {
    display: block;
    margin: 18px auto 4px;
    font-size: 40px
}

.gallery-uploader .dropzone .hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px;
    background-color: #76b6ec;
    color: #fff;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .3s .1s;
    transition: opacity .3s .1s
}

.gallery-uploader .gallery-title {
    display: block;
    float: left;
    clear: none
}

.gallery-uploader .add {
    margin-top: 15px;
    display: inline-block;
    font-size: 14px
}

.gallery-uploader .add span {
    -webkit-transition: opacity .1s .3s;
    transition: opacity .1s .3s
}

.gallery-uploader .add.finished {
    display: none
}

.gallery-uploader .add i {
    position: absolute;
    top: 0;
    right: -22px;
    font-size: 16px;
    margin-right: 4px
}

.gallery-uploader .dz-drag-hover .hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.gallery-uploader.active .list-group .dropzone-container {
    padding: 15px 20px;
    max-height: 145px
}

.gallery-container {
    font-size: 0
}

.gallery-container .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    border:2px solid transparent;
    cursor: move;
}

.gallery-container .dz-preview:first-child{
    border:2px dashed #3699d2
}

.gallery-container .dz-preview .dz-details {
    width: 125px;
    height: 125px;
    position: relative;
    text-align: center;
    background: #999;
    display: table-cell;
    overflow: hidden;
}

.gallery-container .dz-preview img {
    /* position: absolute;
     top: 0;
     left: 0;*/
    /*max-width: 200px;*/
    /*max-height: 200px;*/
    width: auto;
    border: 0;
    margin: 0 auto;
}

.gallery-container .dz-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6px;
    display: none
}

.gallery-container .dz-progress .dz-upload {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #bc401a;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out
}

.gallery-container .dz-processing .dz-progress {
    display: block
}

.gallery-container .dz-error .dz-progress .dz-upload {
    background: #ee1e2d
}

.gallery-container .dz-error .dz-error-mark {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: .1s color;
    transition: .1s color
}

.gallery-container .dz-error .dz-error-message {
    display: block;
    padding: 0 5px;
    border-radius: 3px;
    background-color: #e77755
}

.gallery-container .dz-error .overlay .controls {
    display: none
}

.gallery-container .dz-success .dz-progress {
    display: block;
    transition: opacity .4s ease-in-out;
    opacity: 0;
    filter: alpha(opacity=0)
}

.gallery-container .dz-success .dz-success-mark {
    opacity: 1;
    filter: alpha(opacity=100)
}

.gallery-container .dz-success-mark, .gallery-container .dz-error-mark {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    right: -1px;
    top: -8px;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .1s;
    transition: opacity .1s
}

.gallery-container .dz-success-mark:hover, .gallery-container .dz-error-mark:hover {
    color: #8f3114
}

.gallery-container .dz-error-message, .gallery-container .confirm-removal {
    display: none
}

.gallery-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
    background: #ccc;
    background: rgba(0, 0, 0, 0.6);
    color: #fff
}

.gallery-container .overlay:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.gallery-container .overlay .dz-filename {
    width: 140px;
    padding: 15px 5px 0 15px
}

.gallery-container .overlay .status {
    position: relative;
    z-index: 3;
    padding: 5px 5px 0
}

.gallery-container .overlay .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 5px 5px;
    text-align: center;
    cursor: default;
}

.gallery-container .overlay .controls a {
    display: inline-block;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    padding: 3px 0 0;
    -webkit-transition: background-color .1s;
    transition: background-color .1s
}

.gallery-container .overlay .controls a:hover {
    background-color: #76b6ec
}

.gallery-container .overlay .controls.confirm-removal a {

    margin: 0 5px;
    padding: 3px 5px 0;
    width: 40px
}

.modal-edit-image {
    text-align: left
}

.modal-edit-image .modal-thumbnail {
    width: 100%;
    max-width: 150px
}

.modal-edit-image .form-group {
    margin-top: 15px;
    text-align: left
}

.modal-edit-image .modal-footer .btn {
    margin-top: 5px
}