html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: $fontRegular;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img{
  max-width:100%;
  height: auto;
}
button{
  outline:0;
  border: none;
}


