.cms-content {
  h4 {
    display: block;
    padding: 15px 0;
    font: 16px/22px $fontMedium;
    color: $font-dark-grey;
  }
  p {
    padding: 8px 0;
    font: 16px/22px $fontLight;
    color: $font-dark-grey;
  }
  img {
    display: inline-block;
    padding: 15px;
    max-width: 100%;
    @include respond-to(xs) {
      width: 100%;
    }
    &.img-left {
      float: left;
      padding-left: 0;
    }
    &.img-right {
      float: right;
      padding-right: 0;
    }
  }
}