/*---------fonts--------------*/

$light: 'RobotoLight';
$bold: 'RobotoBold';
$light-goth: 'GothaProLig';


/*----------btn colors--------------*/

$btn-info: #03a9f4;
$btn-default: #fff;
$btn-success: #57D68D;



$main-bg: #ecf1f2;
$main-nav-bg: #2d3e50;
$sidebar-bg: #fff;
$color-1: #a2b3c0;
$color-2: #2FC7F7;
$color-3: #2d3e50;
$color-4: #4d7687;